---

import BasicLayout from "../layout/BasicLayout.astro";
import Hero from "../components/Hero.astro";
import ImageWithFallback from "../components/ImageWithFallback.astro";
import ProjectGallery from "../components/ProjectGallery.astro";
import ProjectDetail from "../components/ProjectDetail.astro";
import ProjectCard from "../components/ProjectCard.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
---

<BasicLayout title="Home">
	<!-- <h1 class="text-3xl bg-red-500">Welcome to astro</h1>
	<p>This is the home page</p> -->

	<Hero></Hero>
	<ProjectGallery />
	<About></About>
	<Footer></Footer>


</BasicLayout>
